body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #0f172a;
    color: white;
}

nav {
    background: #020617;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #38bdf8;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #facc15;
}

header {
    text-align: center;
    padding: 80px 20px;
}

section {
    padding: 40px;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    border-radius: 5px;
    text-decoration: none;
}